<section class="hero">
  <div class="hero__sideline"></div>
  <div class="hero__welcome">
    <h1>Robert Laws</h1>
    <h2>Web/UX/Designer</h2>
    <div class="hero__portrait"><img src="{{site.baseurl}}/assets/img/rdl.jpg" alt="Robert Laws"></div>
    <p>Apiring web developer who also dabbles in web & UX design. Searching for new challenges and always pushing my
      limits.</p>
    <div class="hero__callout">
      <div class="hero__button">
        <button>Contact</button>
      </div>
    </div>
  </div>
  <div class="hero__image"></div>
  <div class="hero__sideline"></div>
</section>