* {
  padding: 0;
  margin: 0;
}

header,
main,
footer {
  margin: 20px;
}

.blog-list article {
  padding: 10px 0;
}

#archive-list ul {
  padding: 20px 0;
}

#archive-list ul li {
  padding: 10px 0;
}